@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;;
}

nav {
    background-color: black;
    color: white;
    height: 2em;
}

#nav-title {
    max-width: 650px;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 26px;
    max-width: 650px;
    min-height: 350px;
    margin: 0 auto;
}

.infoBoxes {
    border-radius: 10px;
    border: 1px solid rgb(231, 231, 231);
    background-color: rgb(248, 246, 246);
    margin: 10px 0px 10px 0px;
    padding: 10px;
}

#bottom-row { 
    grid-area: 2 / 1 / 3 / 4;
    margin: 0px; 
    display: flex;
    flex-direction: row;
}

#joe, #joeButton, #work, #buy {   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#featurePhoto {
    margin: auto;
}

img {
    border-radius: 10px;
    width: 100px;
}

#info {
    width: 300px;
}

#featureTitle {
    margin-bottom: 10px;
}

/*
Buttons and select
*/

button, select {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px outset;
    width: 100%;
}

#workButtons {
    width: 100%;
    display: flex;
    justify-content: space-around;   
}

#loanBtn {
    background-color: rgb(44, 255, 135); 
}

#bankBtn {
    background-color: rgb(255, 255, 86);
    text-align: center;
    width: 1fr;
}

#workBtn {
    background-color: rgb(77, 112, 240);
    color: white;
    width: 1fr;
}

#buyBtn {
    background-color: rgb(0, 217, 255);
    font-weight: bold;
}

#repayLoanBtn {
    background-color: rgb(255, 72, 27);
    color: white;
    width: 1fr;
    display: none;
}

/*
Setting font size
*/

#features {
    font-size: 0.7em;
}





